.body {
  /* background-image: url(https://images.wsj.net/im-379566?size=custom_1300x1300); */
  background-position: center;
  background-size: cover;
  font-family: sans-serif;
  background-color: bisque;
}
.header {
  margin-bottom: 2rem;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 10px;
  color: white;
}
.form {
  margin-left: 15%;
  margin-right: 15%;
}

.question {
  font-style: normal;
  font-size: large;
  color: rgb(13, 13, 24);
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.heading {
  margin-left: 10px;
}
.picture {
  background-color: rgb(216, 158, 81);
  border-radius: 10px;
  height: 80px;
  width: auto;
}

input,
select {
  border: 5px;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border-color: rgb(179, 96, 96);
  padding-left: 10px;
}

select {
  height: 45px;
}

.submit,
.reset {
  background-color: rgb(2 1 4);
  margin: 10px;
  cursor: pointer;
  padding: 1rem;
  border: none;
  border-radius: 50px;
  width: 50%;
  text-align: center;
  color: rgb(255 255 255);
  font-size: 16px;
}

.reset {
  background-color: rgb(118 118 118);
}

.tinyPics {
  border-radius: 80%;
  margin-left: 20px;
  width: 80px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: auto;
}

.sidebyside {
  display: flex;
  flex-direction: row;
}

.sidebysideButton {
  display: flex;
  flex-direction: row;
}

.item {
  margin-right: 20px;
  width: 100%;
}

.center {
  justify-content: center;
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.motivator {
  animation: moveLeftRight 2s ease-in-out infinite;
  margin-top: -20px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: rgb(69, 50, 26);
  display: flex;
  flex-direction: column;
  align-items: center;
}

th {
  text-align: center;
  background-color: rgb(247, 183, 183);
}

td,
th {
  border: 1px solid #3a0101;
  padding: 8px;
  text-align: center;
}

button:hover {
  background-color: blue;
}

/* Mobile only */
@media screen and (max-width: 1000px) {
  .form {
    margin-left: 5%;
    margin-right: 5%;
  }

  .sidebyside {
    flex-direction: column;
  }
  .picture {
    margin-left: 10px;
  }

  .question {
    margin-top: 20px;
    text-align: center;
  }
  .tinyPics {
    border-radius: 110%;
    margin-left: 50px;
    width: 100px;
    height: auto;
    margin-top: auto;
    border: 110%;
  }
}
